AccessModifierOffset: -2
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: No
BasedOnStyle: Google
ColumnLimit: 0
ContinuationIndentWidth: 2
IndentPPDirectives: AfterHash
IndentWidth: 2
NamespaceIndentation: Inner
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
UseCRLF: false
UseTab: Never
