AccessModifierOffset: -2
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: false
BasedOnStyle: Google
ColumnLimit: 0
ContinuationIndentWidth: 2
IndentPPDirectives: AfterHash
IndentWidth: 2
NamespaceIndentation: Inner
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
UseCRLF: false
UseTab: Never
